# dependencies
node_modules/

# Next.js build
.next/
out/

# environment variables
.env
.env.local
.env.production
.env.development

# backend env
Backend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store